In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("/Users/gursimransidhu/Downloads/zim_test.csv")

In [7]:
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [11]:
# handle null data
# 1) remove rows which have empty null cells
# 2) fill something at null places

In [13]:
# dropna()--> remove rows which holds null cells

In [19]:
xyz=data.dropna()
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [25]:
data.shape

(169, 4)

In [27]:
xyz.shape

(164, 4)

In [29]:
data.dropna(inplace=True)

In [31]:
data.shape

(164, 4)

In [33]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

In [35]:
data.to_csv("remove_null_data.csv")

In [37]:
data.shape

(164, 4)

In [40]:
#  Fill something

In [42]:
# fillna()---> add something at null places

In [44]:
data=pd.read_csv("/Users/gursimransidhu/Downloads/zim_test.csv")

In [46]:
data.shape

(169, 4)

In [48]:
data.fillna(200,inplace=True)

In [50]:
data.head(20)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112     200.0
18        60    103       123     323.0
19        45     97       125     243.0

In [52]:
data["Duration"].fillna(50,inplace=True)

In [54]:
duration_optimal_value = data["Duration"].mean()

In [58]:
data["Duration"].fillna(duration_optimal_value, inplace = True)
data["Pulse"].fillna(data["Pulse"].mean(), inplace = True)
data["Maxpulse"].fillna(data["Maxpulse"].mean(), inplace = True)

In [60]:
# data duplicate

In [62]:
data[data.duplicated()]

     Duration  Pulse  Maxpulse  Calories
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
40         45     90       112     180.1
71         60    109       153     387.6
113        45    100       120     225.3
155        60    111       151     368.5

In [64]:
data.drop_duplicates(inplace = True)

In [66]:
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]

In [68]:
data.shape

(162, 4)